<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: assets" />
<script type="text/javascript">
$(document).ready(function() {
	$('#idUniv').change(
     function() {
         $.getJSON("/getFakultasbyUniv", {
             idUniv : $(this).val(),
             ajax : 'true'
         }, function(data) {
             var html = '<option value="">--SELECT--</option>';
             var len = data.length;
             for ( var i = 0; i < len; i++) {
                 html += '<option value="' + data[i].id + '">'
                         + data[i].namaFakultas + '</option>';
             }
             html += '</option>';
             $('#idFakultas').html(html);
             $('#idProdi').html('<option value="">--SELECT--</option>');
         });
     });
	
	$('#idFakultas').change(
     function() {
         $.getJSON("/getProdibyFakultas", {
             idFakultas : $(this).val(),
             ajax : 'true'
         }, function(data) {
             var html = '<option value="">--SELECT--</option>';
             var len = data.length;
             for ( var i = 0; i < len; i++) {
                 html += '<option value="' + data[i].id + '">'
                         + data[i].namaProdi + '</option>';
             }
             html += '</option>';
             $('#idProdi').html(html);
         });
     });
	
	$('.yearDatePicker').datepicker({ format: "yyyy", viewMode: "years", minViewMode: "years", autoclose: true });
	$('.dateDatePicker').datepicker({ format: "yyyy-mm-dd", autoclose: true });
});
</script>
	<body>
		<div th:replace="fragments/fragment :: header"></div>
		<div class="container">
			<h1 class="page-header">Tambah Mahasiswa</h1>
			
			<form action="/mahasiswa/tambah" method="post">
				<div class="form-row">
					<div class="col-md-6 form-group form-row">
						<label for="nama" class="col-md-4">Nama Lengkap</label>
						<input type="text" name="nama" id="nama" class="form-control col-md-8" />
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6 form-row form-group">
						<label for="tempatLahir" class="col-md-4">Tempat Lahir</label>
						<input type="text" name="tempatLahir" id="tempatLahir" class="form-control col-md-8" />
					</div>
					<div class="col-md-6 form-row form-group">
						<label for="tanggalLahir" class="col-md-4">Tanggal Lahir</label>
						<input type="text" class="dateDatePicker form-control col-md-8" name="tanggalLahir" id="tanggalLahir" />
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6 form-group form-row">
						<label for="jenisKelamin" class="col-md-4">Jenis Kelamin</label>
						<select id="jenisKelamin" name="jenisKelamin" class="form-control col-md-8">
							<option value="">--SELECT--</option>
							<option th:each="jenisKelamin : ${listJenisKelamin}" th:value="${jenisKelamin.value}" th:text="${jenisKelamin.text}"></option>
						</select>
					</div>
					<div class="col-md-6 form-group form-row">
						<label for="agama" class="col-md-4">Agama</label>
						<input type="text" name="agama" id="agama" class="form-control col-md-8" />
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6 form-group form-row">
						<label for="golDarah" class="col-md-4">Golongan Darah</label>
						<input type="text" name="golDarah" id="golDarah" class="form-control col-md-8" />
					</div>
					<div class="col-md-6 form-group form-row">
						<label for="tahunMasuk" class="col-md-4">Tahun Masuk</label>
						<input type="text" class="yearDatePicker form-control col-md-8" name="tahunMasuk" id="tahunMasuk" />
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6 form-group form-row">
						<label for="jalurMasuk" class="col-md-4">Jalur Masuk</label>
						<select id="jalurMasuk" name="jalurMasuk" class="form-control col-md-8">
							<option value="">--SELECT--</option>
							<option th:each="jalurMasuk : ${listJalurMasuk}" th:value="${jalurMasuk.value} + ':' + ${jalurMasuk.text}" th:text="${jalurMasuk.text}"></option>
						</select>
					</div>
					<div class="col-md-6 form-group form-row">
						<label for="idUniv" class="col-md-4">Universitas</label>
						<select id="idUniv" name="idUniv" class="form-control col-md-8">
							<option value="">--SELECT--</option>
							<option th:each="univ : ${listUniv}" th:value="${univ.id}" th:text="${univ.namaUniv}"></option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6 form-group form-row">
						<label for="idFakultas" class="col-md-4">Fakultas</label>
						<select name="idFakultas" id="idFakultas" required="required" class="form-control col-md-8">
			                <option disabled="disabled" selected="selected" >--PLEASE SELECT UNIVERSITAS--</option>
			            </select>
					</div>
					<div class="col-md-6 form-group form-row">
						<label for="idProdi" class="col-md-4">Program Studi</label>
						<select name="idProdi" id="idProdi" required="required" class="form-control col-md-8">
			                <option disabled="disabled" selected="selected" >--PLEASE SELECT FAKULTAS--</option>
			            </select>
					</div>
				</div>
				<div class="text-right">
					<button type="submit" name="action" class="btn btn-primary">Save</button>
				</div>
			</form>
			<div class="push"></div>
		</div>
		<div th:replace="fragments/fragment :: footer"></div>
	</body>
</html>

