<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: assets" />
<script type="text/javascript">
	$('.yearDatePicker').datepicker({
	        format: 'dd/mm/yyyy'
	        });
</script>

<body>
	<div th:replace="fragments/fragment :: header"></div>
	<h1 class="page-header">Tambah Mahasiswa</h1>

	<form action="/student/add/submit" method="post">
		<div>
			<label for="nama">Nama Lengkap</label> <input type="text" name="nama" id="nama" />
		</div>
		<div>
			<label for="tempatLahir">Tempat Lahir</label> <input type="text" name="tempatLahir" id="tempatLahir" />
		</div>
		<div>
			<label for="tanggalLahir">Tanggal Lahir</label> <input type="text" name="tanggalLahir" id="tanggalLahir" />
		</div>
		<div>
			<label for="jenisKelamin">Jenis Kelamin</label>
			<select id="jenisKelamin" name="jenisKelamin">
				<option val="0">Laki-laki</option>
				<option val="1">Perempuan</option>
			</select>
		</div>
		<div>
			<label for="agama">Agama</label> <input type="text" name="agama" id="agama" />
		</div>
		<div>
			<label for="golDarah">Golongan Darah</label> <input type="text" name="golDarah" id="golDarah" />
		</div>
		<div>
			<label for="tahunMasuk">Tahun Masuk</label> <input type="text" class="yearDatePicker" name="tahunMasuk" id="tahunMasuk" />
		</div>
		<div>
			<label for="jalurMasuk">Jalur Masuk</label> <input type="text" name="jalurMasuk" id="jalurMasuk" />
		</div>
		<div>
			<label for="idUniv">Universitas</label> <input type="text" name="idUniv" id="idUniv" />
		</div>
		<div>
			<label for="idFakultas">Fakultas</label> <input type="text" name="idFakultas" id="idFakultas" />
		</div>
		<div>
			<label for="idProdi">Program Studi</label> <input type="text" name="idProdi" id="idProdi" />
		</div>
		<div>
			<button type="submit" name="action" value="save">Save</button>
		</div>
	</form>
	<div th:replace="fragments/fragment :: footer"></div>
</body>

</html>

